.titleContainer {
    width: 100vw;
    height: 500px;
    background-color: rgb(30, 187, 238);
    margin-bottom: 50px;
}

.image1 {
    width: 600px;
    position: absolute;
    top: 180px;
    left: calc(50vw - 300px);
}

.image2 {
    width: 300px;
    position: absolute;
    top: 510px;
    left: calc(50vw + 150px);
}

.writer {
    position: absolute;
    top: 540px;
    left: calc(50vw + 170px);
}

.reviser {
    position: absolute;
    top: 565px;
    left: calc(50vw + 170px);
}

.image3 {
    width: 500px;
    display: block;
    margin: 0px auto;
}

.image3Source {
    margin-top: 20px;
    color: rgb(150, 150, 150);
}

.introductionContainer {
    width: 70vw;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 50px;
}

.introductionParagraph {
    width: 100%;
    font-size: 1.2rem;
    text-indent: 4rem;
    text-align: justify;
}