.button {
    height: fit-content;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 200px;
    cursor: pointer;
    text-decoration: none;
}

.buttonImage {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(230, 230, 230);
}

.button:hover {
    transform: scale(1.15);
}

.buttonInfo {
    height: 200px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.date {
    width: fit-content;
    height: 30px;
    line-height: 20px;
    font-size: 1rem;
    border-radius: 3px;
    background-color: rgb(200, 200, 200);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.badgeContainer {
    width: fit-content;
    height: 30px;
    border-radius: 3px;
    background-color: rgb(100, 100, 100);
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
}

.badgeIcon {
    width: 20px;
    filter: invert();
}

.badgeText {
    line-height: 20px;
    color: rgb(255, 255, 255);
}