.slider {
    width: 100vw;
    height: fit-content;
    overflow: hidden;
}

.background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.korean {
    width: 100vw;
    font-size: 4rem;
    font-weight: 1000;
    position: absolute;
    top: 40vh;
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hanja {
    width: 100vw;
    font-size: 2rem;
    position: absolute;
    top: 48vh;
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

.english {
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    font-family: "Pretendard-Regular";
    font-size: 22vw;
    position: absolute;
    top: -70px;
    left: 0;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: max(0.2vw, 1px);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
}

.english:after {
    content: "";
    display: inline-block;
    width: 100vw;
}