.slider {
    width: 100vw;
    height: fit-content;
    overflow: hidden;
}

.background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.korean {
    width: 100vw;
    height: 80px;
    line-height: 80px;
    font-size: 6rem;
    font-weight: 1000;
    position: absolute;
    top: calc(50vh - 130px);
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hanja {
    width: 100vw;
    height: 100px;
    line-height: 40px;
    font-size: 2rem;
    position: absolute;
    top: calc(50vh - 40px);
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

.english {
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    font-family: "Pretendard-Regular";
    font-size: 22vw;
    position: absolute;
    top: -70px;
    left: 0;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: max(0.2vw, 1px);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
}

.textTop {
    width: 100vw;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 150px;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.textBottom {
    width: 100vw;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    bottom: 150px;
    color: rgb(255, 255, 255);
    z-index: 1;
}