.titleContainer {
    width: 100vw;
    height: 500px;
    background-color: rgb(0, 167, 229);
    margin-bottom: 50px;
}

.introductionContainer {
    width: 70vw;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
}

.introductionParagraph {
    width: 100%;
    font-size: 1.2rem;
    text-indent: 4rem;
    text-align: justify;
}

.image1 {
    width: 600px;
    position: absolute;
    top: 180px;
    left: calc(50vw - 300px);
}

.image2 {
    width: 300px;
    position: absolute;
    top: 510px;
    left: calc(50vw + 150px);
}

.writer {
    position: absolute;
    top: 540px;
    left: calc(50vw + 170px);
}

.reviser {
    position: absolute;
    top: 565px;
    left: calc(50vw + 170px);
}

.image3 {
    width: 100%;
    display: block;
    margin: 0px auto;
    border-radius: 5px;
}

.image4 {
    width: 200px;
    display: block;
    margin: 0px auto;
    margin-bottom: 30px;
}

.image5Container {
    width: 500px;
    height: 160px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.image51 {
    height: 160px;
}

.image52 {
    height: 160px;
}

.chart {
    width: 70vw;
    height: 500px;
    margin: 0px auto;
}




@media screen and (max-width: 1000px) {
    .titleContainer {
        width: 100vw;
        height: 60vw;
    }

    .introductionContainer {
        width: 90vw;
        display: block;
    }

    .introductionParagraph {
        text-indent: 2rem;
    }

    .image1 {
        width: 70vw;
        top: calc(140px + 5vw);
        left: 15vw;
    }

    .image2 {
        width: 50vw;
        top: calc(140px + 40vw);
        left: 40vw;
    }

    .image3 {
        width: 90vw;
    }

    .image5Container {
        width: 90vw;
        gap: 10px;
    }

    .image51 {
        height: min(160px, 30vw);
    }
    
    .image52 {
        height: min(160px, 30vw);
    }

    .writer {
        font-size: 2vw;
        top: calc(140px + 45vw);
        left: calc(40vw + 30px);
    }
    
    .reviser {
        font-size: 2vw;
        top: calc(140px + 49vw);
        left: calc(40vw + 30px);
    }

    .chart {
        width: 90vw;
    }
}



@media screen and (max-width: 500px) {
    .introductionParagraph {
        font-size: 1rem;
    }
}