.blank {
    height: 70px;
}

.text {
    font-size: 1.3rem;
    line-height: 70px;
    padding-left: 15vw;
}

.notScrolled {
    width: 100vw;
    height: 70px;
    color: rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 2;
}

.scrolled {
    width: 100vw;
    height: 70px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 2;
}

.scrollMeter {
    height: 5px;
    margin-top: -5px;
    background-color: rgb(150, 150, 150);
}



@media screen and (max-width: 1000px) {
    .text {
        font-size: min(1rem, 4vw);
        padding-left: 5vw;
    }
}