.badgeContainer {
    width: fit-content;
    height: 30px;
    padding: 5px;
    background-color: rgb(100, 100, 100);
    display: grid;
    grid-template-columns: 20px 1fr;
    margin-bottom: 10px;
    gap: 5px;
}

.badgeIcon {
    width: 20px;
    filter: invert();
}

.badgeText {
    line-height: 20px;
    color: rgb(255, 255, 255);
}