.blank {
    height: 70px;
}

.headerContainer {
    width: 100vw;
    height: 70px;
    background-color: rgb(50, 50, 50);
    padding-left: 15vw;
    padding-right: 15vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 70px;
    z-index: 1;
}

.headerLogo {
    width: 300px;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 70px 170px;
    cursor: pointer;
}

.headerIcon {
    height: 70px;
}

.headerText {
    font-size: 1.5rem;
    font-weight: 1000;
    line-height: 70px;
    text-align: left;
    margin-left: 10px;
}



@media screen and (max-width: 1000px) {
    .headerContainer {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .headerLogo {
        width: 210px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .headerText {
        font-size: 1rem;
    }
}