.container {
    width: 70vw;
    height: 700px;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: -100px;
    display: grid;
    grid-template-columns: 1fr 700px;
}

.containerLeft {
    height: 700px;
    padding-top: 100px;
}

.containerRight video {
    height: 700px;
}

.button {
    font-size: 2rem;
    width: fit-content;
    height: 60px;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    text-decoration: none;
    display: block;
}

.button:hover {
    font-size: 3rem;
}



@media screen and (max-width: 1300px) {
    .container {
        width: 90vw;
        height: fit-content;
        margin-left: 5vw;
        margin-right: 5vw;
        grid-template-columns: 1fr;
    }

    .containerLeft {
        height: 250px;
        padding-top: 50px;
    }

    .containerRight video {
        height: 90vw;
    }

    .button {
        font-size: 1.5rem;
        height: 40px;
        margin-bottom: 20px;
    }

    .button:hover {
        font-size: 2.5rem;
    }
}