.titleContainer {
    width: 100vw;
    height: 500px;
    margin-bottom: 50px;
    background-color: rgb(0, 49, 160);
}

.title1 {
    width: 100vw;
    font-size: 4rem;
    position: absolute;
    text-align: center;
    top: 280px;
    color: rgb(255, 255, 255);
}

.writer {
    width: 100vw;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    top: 500px;
    color: rgb(255, 255, 255);
}

.reviser {
    width: 100vw;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    top: 530px;
    color: rgb(255, 255, 255);
}

.image1 {
    width: 600px;
    display: block;
    margin: 0px auto;
}

.sliderContainer {
    width: 69vw;
    height: 23vw;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
}

.sliderImage {
    width: 23vw;
    height: 23vw;
    border-radius: 20px;
    padding: 10px;
}

.questionAnswerContainer1 {
    width: 60vw;
    font-size: 2rem;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 1px;
    text-align: center;
    background-color: rgb(153, 188, 210);
    padding: 2vw;
    border-radius: 10px 10px 0px 0px;
}

.questionAnswerContainer2 {
    width: 60vw;
    margin: 0px auto;
    margin-bottom: 20px;
    background-color: rgb(153, 188, 210);
    padding: 2vw;
    border-radius: 0px 0px 10px 10px;
}

.questionContainer {
    display: grid;
    grid-template-columns: 60px 16px 30vw;
    margin-bottom: 20px;
}

.question {
    width: 30vw;
    height: fit-content;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
}

.answerContainer {
    display: grid;
    grid-template-columns: 30vw 26px 60px;
    margin-bottom: 60px;
    margin-left: calc(26vw - 76px);
}

.answer {
    width: 30vw;
    height: fit-content;
    font-size: 1.2rem;
    background-color: rgb(253, 240, 26);
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
}

.questionAnswerImage {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 25px;
}

.triangle1 {
    width: 8px;
    height: 8px;
    border-bottom: 8px solid transparent;
    border-top: 8px solid rgb(255, 255, 255);
    border-left: 8px solid transparent;
    border-right: 8px solid rgb(255, 255, 255);
    margin-top: 16px;
}

.triangle2 {
    width: 8px;
    height: 8px;
    border-bottom: 8px solid transparent;
    border-top: 8px solid rgb(253, 240, 26);
    border-left: 8px solid rgb(253, 240, 26);
    border-right: 8px solid transparent;
    margin-top: 16px;
}



@media screen and (max-width: 1000px) {
    .image1 {
        width: 80vw;
    }
    
    .sliderContainer {
        width: 90vw;
        height: 90vw;
    }
    
    .sliderImage {
        width: 90vw;
        height: 90vw;
        border-radius: 10px;
        padding: 0px;
    }

    .questionAnswerContainer1 {
        width: 90vw;
        font-size: 1.2rem;
        padding: 5vw;
    }
    
    .questionAnswerContainer2 {
        width: 90vw;
        padding: 5vw;
    }

    .questionContainer {
        width: 100%;
        grid-template-columns: 40px 16px 1fr;
        margin-bottom: 10px;
    }

    .question {
        width: 100%;
        font-size: 0.8rem;
    }

    .answerContainer {
        width: 100%;
        grid-template-columns: 1fr 26px 30px;
        margin-left: 0;
        margin-bottom: 50px;
    }

    .answer {
        width: 100%;
        font-size: 0.8rem;
    }

    .questionAnswerImage {
        width: 30px;
        height: 30px;
        font-size: 1.2rem;
        border-radius: 25px;
    }
}